# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/UnittestenTime/UnittestenTime/nbproject/private/
/UnittestenTime/UnittestenTime/build/
/UnittestenTime/UnittestenTime/dist/
/AEXBanner_Week6/nbproject/private/
/AEXBanner_Week6/build/
/AEXBanner_Week6/dist/
AEXBanner_Week7/nbproject/private/private.xml
AEXBanner_Week7/nbproject/project.xml
*.properties
*.xml
AEXBanner_Week7/manifest.mf